---
// Blog section component with decorative shapes
---

<!-- Start Blog Section -->
<section class="cs-shape_wrap_4 cs-parallax">
  <div class="cs-shape_4 cs-to_up"></div>
  <div class="cs-shape_4 cs-to_right"></div>
  <div class="cs-height_150 cs-height_lg_80"></div>
  <div class="cs-height_125 cs-height_lg_70"></div>
</section>
<!-- End Blog Section -->