---
// CTA (Call to Action) component
import { useTranslations } from "../../i18n/utils";
import type { ComponentProps } from "../../types";
import { Arrow } from "../icons/ui";

interface Props extends ComponentProps {}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<!-- Start CTA -->
<section>
    <div class="container">
        <div
            class="cs-cta cs-style1 cs-bg text-center cs-shape_wrap_1 cs-position_1"
            data-src="/assets/img/cta_bg.jpeg"
        >
            <div class="cs-shape_1"></div>
            <div class="cs-shape_1"></div>
            <div class="cs-shape_1"></div>
            <div class="cs-cta_in">
                <h2
                    class="cs-cta_title cs-semi_bold cs-m0"
                    set:html={t("contact.cta.title")}
                />
                <div class="cs-height_70 cs-height_lg_30"></div>
                <a
                    href="#contact"
                    class="cs-text_btn wow fadeInUp"
                    data-wow-duration="0.8s"
                    data-wow-delay="0.2s"
                >
                    <span>{t("contact.cta.button")}</span>
                    <Arrow width={26} height={12} />
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End CTA -->
