---
// Services section component
import { useTranslations } from '../../i18n/utils';
import type { ComponentProps } from '../../types';

interface Props extends ComponentProps {}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<!-- Start Service Section -->
<section id="service">
  <div class="cs-height_150 cs-height_lg_80"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="cs-section_heading cs-style1">
          <h3 class="cs-section_subtitle">{t('services.subtitle')}</h3>
          <h2 class="cs-section_title">{t('services.title')}</h2>
          <div class="cs-height_45 cs-height_lg_20"></div>
        </div>
        <div class="cs-height_90 cs-height_lg_45"></div>
      </div>
      <div class="col-xl-8">
        <div class="row">
          <div class="col-lg-3 col-sm-6 cs-hidden_mobile"></div>
          <div class="col-lg-3 col-sm-6">
            <div class="cs-hobble">
              <a href={`/${lang}/services/ui-ux-design`} class="cs-card cs-style1 cs-hover_layer1">
                <img src="/assets/img/service_1.jpeg" alt="Service" />
                <div class="cs-card_overlay"></div>
                <div class="cs-card_info">
                  <span class="cs-hover_layer3 cs-accent_bg"></span>
                  <h2 class="cs-card_title">{t('services.uiux')}</h2>
                </div>
              </a>
            </div>
            <div class="cs-height_0 cs-height_lg_30"></div>
          </div>
          <div class="col-lg-3 col-sm-6 cs-hidden_mobile"></div>
          <div class="col-lg-3 col-sm-6">
            <div class="cs-hobble">
              <a href={`/${lang}/services/react-development`} class="cs-card cs-style1 cs-hover_layer1">
                <img src="/assets/img/service_2.jpeg" alt="Service" />
                <div class="cs-card_overlay"></div>
                <div class="cs-card_info">
                  <span class="cs-hover_layer3 cs-accent_bg"></span>
                  <h2 class="cs-card_title">{t('services.react')}</h2>
                </div>
              </a>
            </div>
            <div class="cs-height_0 cs-height_lg_30"></div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="cs-hobble">
              <a href={`/${lang}/services/digital-marketing`} class="cs-card cs-style1 cs-hover_layer1">
                <img src="/assets/img/service_3.jpeg" alt="Service" />
                <div class="cs-card_overlay"></div>
                <div class="cs-card_info">
                  <span class="cs-hover_layer3 cs-accent_bg"></span>
                  <h2 class="cs-card_title">{t('services.marketing')}</h2>
                </div>
              </a>
            </div>
            <div class="cs-height_0 cs-height_lg_30"></div>
          </div>
          <div class="col-lg-3 col-sm-6 cs-hidden_mobile"></div>
          <div class="col-lg-3 col-sm-6">
            <div class="cs-hobble">
              <a href={`/${lang}/services/technology`} class="cs-card cs-style1 cs-hover_layer1">
                <img src="/assets/img/service_4.jpeg" alt="Service" />
                <div class="cs-card_overlay"></div>
                <div class="cs-card_info">
                  <span class="cs-hover_layer3 cs-accent_bg"></span>
                  <h2 class="cs-card_title">{t('services.technology')}</h2>
                </div>
              </a>
            </div>
            <div class="cs-height_0 cs-height_lg_30"></div>
          </div>
          <div class="col-lg-3 col-sm-6 cs-hidden_mobile"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cs-height_150 cs-height_lg_50"></div>
</section>
<!-- End Service Section -->