---
// Testimonials section component
import { useTranslations } from "../../i18n/utils";
import DecorativeShape from "../DecorativeShape.astro";
import type { ComponentProps } from "../../types";

interface Props extends ComponentProps {}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<!-- Start Testimonial Section -->
<section class="cs-gradient_bg_1 cs-shape_wrap_3 cs-parallax">
  <DecorativeShape />
  <div class="cs-height_130 cs-height_lg_80"></div>
  <div class="container">
    <div class="cs-testimonial_slider">
      <div class="cs-testimonial_slider_left">
        <div class="slider-nav cs-style1">
          <div class="slider-for_item item-nav">
            <div class="slider-nav_item">
              <div class="cs-rotate_img">
                <div class="cs-rotate_img_in">
                  <img src="/assets/img/testimonial_1.jpeg" alt="Nav Image" />
                </div>
              </div>
            </div>
          </div>
          <div class="slider-for_item item-nav">
            <div class="slider-nav_item">
              <div class="cs-rotate_img">
                <div class="cs-rotate_img_in">
                  <img src="/assets/img/testimonial_2.jpeg" alt="Nav Image" />
                </div>
              </div>
            </div>
          </div>
          <div class="slider-for_item item-nav">
            <div class="slider-nav_item">
              <div class="cs-rotate_img">
                <div class="cs-rotate_img_in">
                  <img src="/assets/img/testimonial_3.jpeg" alt="Nav Image" />
                </div>
              </div>
            </div>
          </div>
          <div class="slider-for_item item-nav">
            <div class="slider-nav_item">
              <div class="cs-rotate_img">
                <div class="cs-rotate_img_in">
                  <img src="/assets/img/testimonial_1.jpeg" alt="Nav Image" />
                </div>
              </div>
            </div>
          </div>
          <div class="slider-for_item item-nav">
            <div class="slider-nav_item">
              <div class="cs-rotate_img">
                <div class="cs-rotate_img_in">
                  <img src="/assets/img/testimonial_2.jpeg" alt="Nav Image" />
                </div>
              </div>
            </div>
          </div>
          <div class="slider-for_item item-nav">
            <div class="slider-nav_item">
              <div class="cs-rotate_img">
                <div class="cs-rotate_img_in">
                  <img src="/assets/img/testimonial_3.jpeg" alt="Nav Image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cs-testimonial_slider_right">
        <div class="slider-for cs-style1">
          <div class="slider-for_item">
            <div class="cs-testimonial cs-style1">
              <div class="cs-testimonial_quote">
                <svg
                  width="42"
                  height="38"
                  viewBox="0 0 42 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M37.928 18.9982H31.4175V13.7899C31.4175 10.9172 33.7532 8.58154 36.6259 8.58154H37.2769C38.3593 8.58154 39.23 7.71077 39.23 6.62842V2.72217C39.23 1.63981 38.3593 0.769043 37.2769 0.769043H36.6259C29.4319 0.769043 23.605 6.59587 23.605 13.7899V33.3211C23.605 35.4777 25.3547 37.2274 27.5113 37.2274H37.928C40.0845 37.2274 41.8342 35.4777 41.8342 33.3211V22.9045C41.8342 20.7479 40.0845 18.9982 37.928 18.9982ZM14.4905 18.9982H7.98004V13.7899C7.98004 10.9172 10.3157 8.58154 13.1884 8.58154H13.8394C14.9218 8.58154 15.7925 7.71077 15.7925 6.62842V2.72217C15.7925 1.63981 14.9218 0.769043 13.8394 0.769043H13.1884C5.99436 0.769043 0.167542 6.59587 0.167542 13.7899V33.3211C0.167542 35.4777 1.91722 37.2274 4.07379 37.2274H14.4905C16.647 37.2274 18.3967 35.4777 18.3967 33.3211V22.9045C18.3967 20.7479 16.647 18.9982 14.4905 18.9982Z"
                    fill="white"></path>
                </svg>
              </div>
              <div class="cs-testimonial_text">{t("testimonials.text")}</div>
              <div class="cs-rating" data-rating="4">
                <div class="cs-rating_bg" data-src="/assets/img/rating.svg">
                </div>
                <div
                  class="cs-rating_percentage"
                  data-src="/assets/img/rating.svg"
                >
                </div>
              </div>
              <h2 class="cs-testimonial_avatar_name">
                {t("testimonials.client.name")}
              </h2>
              <div class="cs-testimonial_avatar_designation text-uppercase">
                {t("testimonials.client.role")}
              </div>
            </div>
          </div>
          <div class="slider-for_item">
            <div class="cs-testimonial cs-style1">
              <div class="cs-testimonial_quote">
                <svg
                  width="42"
                  height="38"
                  viewBox="0 0 42 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M37.928 18.9982H31.4175V13.7899C31.4175 10.9172 33.7532 8.58154 36.6259 8.58154H37.2769C38.3593 8.58154 39.23 7.71077 39.23 6.62842V2.72217C39.23 1.63981 38.3593 0.769043 37.2769 0.769043H36.6259C29.4319 0.769043 23.605 6.59587 23.605 13.7899V33.3211C23.605 35.4777 25.3547 37.2274 27.5113 37.2274H37.928C40.0845 37.2274 41.8342 35.4777 41.8342 33.3211V22.9045C41.8342 20.7479 40.0845 18.9982 37.928 18.9982ZM14.4905 18.9982H7.98004V13.7899C7.98004 10.9172 10.3157 8.58154 13.1884 8.58154H13.8394C14.9218 8.58154 15.7925 7.71077 15.7925 6.62842V2.72217C15.7925 1.63981 14.9218 0.769043 13.8394 0.769043H13.1884C5.99436 0.769043 0.167542 6.59587 0.167542 13.7899V33.3211C0.167542 35.4777 1.91722 37.2274 4.07379 37.2274H14.4905C16.647 37.2274 18.3967 35.4777 18.3967 33.3211V22.9045C18.3967 20.7479 16.647 18.9982 14.4905 18.9982Z"
                    fill="white"></path>
                </svg>
              </div>
              <div class="cs-testimonial_text">{t("testimonials.text")}</div>
              <div class="cs-rating" data-rating="4">
                <div class="cs-rating_bg" data-src="/assets/img/rating.svg">
                </div>
                <div
                  class="cs-rating_percentage"
                  data-src="/assets/img/rating.svg"
                >
                </div>
              </div>
              <h2 class="cs-testimonial_avatar_name">
                {t("testimonials.client.name")}
              </h2>
              <div class="cs-testimonial_avatar_designation text-uppercase">
                {t("testimonials.client.role")}
              </div>
            </div>
          </div>
          <div class="slider-for_item">
            <div class="cs-testimonial cs-style1">
              <div class="cs-testimonial_quote">
                <svg
                  width="42"
                  height="38"
                  viewBox="0 0 42 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M37.928 18.9982H31.4175V13.7899C31.4175 10.9172 33.7532 8.58154 36.6259 8.58154H37.2769C38.3593 8.58154 39.23 7.71077 39.23 6.62842V2.72217C39.23 1.63981 38.3593 0.769043 37.2769 0.769043H36.6259C29.4319 0.769043 23.605 6.59587 23.605 13.7899V33.3211C23.605 35.4777 25.3547 37.2274 27.5113 37.2274H37.928C40.0845 37.2274 41.8342 35.4777 41.8342 33.3211V22.9045C41.8342 20.7479 40.0845 18.9982 37.928 18.9982ZM14.4905 18.9982H7.98004V13.7899C7.98004 10.9172 10.3157 8.58154 13.1884 8.58154H13.8394C14.9218 8.58154 15.7925 7.71077 15.7925 6.62842V2.72217C15.7925 1.63981 14.9218 0.769043 13.8394 0.769043H13.1884C5.99436 0.769043 0.167542 6.59587 0.167542 13.7899V33.3211C0.167542 35.4777 1.91722 37.2274 4.07379 37.2274H14.4905C16.647 37.2274 18.3967 35.4777 18.3967 33.3211V22.9045C18.3967 20.7479 16.647 18.9982 14.4905 18.9982Z"
                    fill="white"></path>
                </svg>
              </div>
              <div class="cs-testimonial_text">{t("testimonials.text")}</div>
              <div class="cs-rating" data-rating="4">
                <div class="cs-rating_bg" data-src="/assets/img/rating.svg">
                </div>
                <div
                  class="cs-rating_percentage"
                  data-src="/assets/img/rating.svg"
                >
                </div>
              </div>
              <h2 class="cs-testimonial_avatar_name">
                {t("testimonials.client.name")}
              </h2>
              <div class="cs-testimonial_avatar_designation text-uppercase">
                {t("testimonials.client.role")}
              </div>
            </div>
          </div>
          <div class="slider-for_item">
            <div class="cs-testimonial cs-style1">
              <div class="cs-testimonial_quote">
                <svg
                  width="42"
                  height="38"
                  viewBox="0 0 42 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M37.928 18.9982H31.4175V13.7899C31.4175 10.9172 33.7532 8.58154 36.6259 8.58154H37.2769C38.3593 8.58154 39.23 7.71077 39.23 6.62842V2.72217C39.23 1.63981 38.3593 0.769043 37.2769 0.769043H36.6259C29.4319 0.769043 23.605 6.59587 23.605 13.7899V33.3211C23.605 35.4777 25.3547 37.2274 27.5113 37.2274H37.928C40.0845 37.2274 41.8342 35.4777 41.8342 33.3211V22.9045C41.8342 20.7479 40.0845 18.9982 37.928 18.9982ZM14.4905 18.9982H7.98004V13.7899C7.98004 10.9172 10.3157 8.58154 13.1884 8.58154H13.8394C14.9218 8.58154 15.7925 7.71077 15.7925 6.62842V2.72217C15.7925 1.63981 14.9218 0.769043 13.8394 0.769043H13.1884C5.99436 0.769043 0.167542 6.59587 0.167542 13.7899V33.3211C0.167542 35.4777 1.91722 37.2274 4.07379 37.2274H14.4905C16.647 37.2274 18.3967 35.4777 18.3967 33.3211V22.9045C18.3967 20.7479 16.647 18.9982 14.4905 18.9982Z"
                    fill="white"></path>
                </svg>
              </div>
              <div class="cs-testimonial_text">{t("testimonials.text")}</div>
              <div class="cs-rating" data-rating="4">
                <div class="cs-rating_bg" data-src="/assets/img/rating.svg">
                </div>
                <div
                  class="cs-rating_percentage"
                  data-src="/assets/img/rating.svg"
                >
                </div>
              </div>
              <h2 class="cs-testimonial_avatar_name">
                {t("testimonials.client.name")}
              </h2>
              <div class="cs-testimonial_avatar_designation text-uppercase">
                {t("testimonials.client.role")}
              </div>
            </div>
          </div>
          <div class="slider-for_item">
            <div class="cs-testimonial cs-style1">
              <div class="cs-testimonial_quote">
                <svg
                  width="42"
                  height="38"
                  viewBox="0 0 42 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M37.928 18.9982H31.4175V13.7899C31.4175 10.9172 33.7532 8.58154 36.6259 8.58154H37.2769C38.3593 8.58154 39.23 7.71077 39.23 6.62842V2.72217C39.23 1.63981 38.3593 0.769043 37.2769 0.769043H36.6259C29.4319 0.769043 23.605 6.59587 23.605 13.7899V33.3211C23.605 35.4777 25.3547 37.2274 27.5113 37.2274H37.928C40.0845 37.2274 41.8342 35.4777 41.8342 33.3211V22.9045C41.8342 20.7479 40.0845 18.9982 37.928 18.9982ZM14.4905 18.9982H7.98004V13.7899C7.98004 10.9172 10.3157 8.58154 13.1884 8.58154H13.8394C14.9218 8.58154 15.7925 7.71077 15.7925 6.62842V2.72217C15.7925 1.63981 14.9218 0.769043 13.8394 0.769043H13.1884C5.99436 0.769043 0.167542 6.59587 0.167542 13.7899V33.3211C0.167542 35.4777 1.91722 37.2274 4.07379 37.2274H14.4905C16.647 37.2274 18.3967 35.4777 18.3967 33.3211V22.9045C18.3967 20.7479 16.647 18.9982 14.4905 18.9982Z"
                    fill="white"></path>
                </svg>
              </div>
              <div class="cs-testimonial_text">{t("testimonials.text")}</div>
              <div class="cs-rating" data-rating="4">
                <div class="cs-rating_bg" data-src="/assets/img/rating.svg">
                </div>
                <div
                  class="cs-rating_percentage"
                  data-src="/assets/img/rating.svg"
                >
                </div>
              </div>
              <h2 class="cs-testimonial_avatar_name">
                {t("testimonials.client.name")}
              </h2>
              <div class="cs-testimonial_avatar_designation text-uppercase">
                {t("testimonials.client.role")}
              </div>
            </div>
          </div>
          <div class="slider-for_item">
            <div class="cs-testimonial cs-style1">
              <div class="cs-testimonial_quote">
                <svg
                  width="42"
                  height="38"
                  viewBox="0 0 42 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M37.928 18.9982H31.4175V13.7899C31.4175 10.9172 33.7532 8.58154 36.6259 8.58154H37.2769C38.3593 8.58154 39.23 7.71077 39.23 6.62842V2.72217C39.23 1.63981 38.3593 0.769043 37.2769 0.769043H36.6259C29.4319 0.769043 23.605 6.59587 23.605 13.7899V33.3211C23.605 35.4777 25.3547 37.2274 27.5113 37.2274H37.928C40.0845 37.2274 41.8342 35.4777 41.8342 33.3211V22.9045C41.8342 20.7479 40.0845 18.9982 37.928 18.9982ZM14.4905 18.9982H7.98004V13.7899C7.98004 10.9172 10.3157 8.58154 13.1884 8.58154H13.8394C14.9218 8.58154 15.7925 7.71077 15.7925 6.62842V2.72217C15.7925 1.63981 14.9218 0.769043 13.8394 0.769043H13.1884C5.99436 0.769043 0.167542 6.59587 0.167542 13.7899V33.3211C0.167542 35.4777 1.91722 37.2274 4.07379 37.2274H14.4905C16.647 37.2274 18.3967 35.4777 18.3967 33.3211V22.9045C18.3967 20.7479 16.647 18.9982 14.4905 18.9982Z"
                    fill="white"></path>
                </svg>
              </div>
              <div class="cs-testimonial_text">
                I wish I would have thought of it first. Creative agency is the
                most tech valuable business resource we have ever purchased.
                Dude your stuff is the bomb! eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt to the
                explicabo.
              </div>
              <div class="cs-rating" data-rating="4">
                <div class="cs-rating_bg" data-src="/assets/img/rating.svg">
                </div>
                <div
                  class="cs-rating_percentage"
                  data-src="/assets/img/rating.svg"
                >
                </div>
              </div>
              <h2 class="cs-testimonial_avatar_name">Ahon Monsery</h2>
              <div class="cs-testimonial_avatar_designation text-uppercase">
                CEO AT TECH
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cs-height_130 cs-height_lg_80"></div>
</section>
<!-- End Testimonial Section -->
