---
// Video section component
import { useTranslations } from '../../i18n/utils';
import type { ComponentProps } from '../../types';

interface Props extends ComponentProps {}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<!-- Start Awards Text -->
<section class="cs-shape_wrap_2">
  <div class="cs-shape_2">
    <div></div>
  </div>
</section>
<!-- End Awards Text -->

<!-- Start General Text -->
<div class="container">
  <h2 class="cs-font_50 cs-m0 text-center cs-line_height_4 wow fadeInUp" data-wow-duration="0.8s"
    data-wow-delay="0.2s"> 
    {t('video.description')}
  </h2>
</div>
<!-- End General Text -->

<div class="cs-height_70 cs-height_lg_70"></div>

<!-- Start Video Block -->
<div class="container">
  <a href="https://www.youtube.com/watch?v=VcaAVWtP48A" class="cs-video_block cs-style1 cs-video_open cs-bg"
    data-src="/assets/img/video_bg.jpeg">
    <span class="cs-player_btn cs-accent_color">
      <span></span>
    </span>
  </a>
</div>
<!-- End Video Block -->

<div class="cs-height_145 cs-height_lg_80"></div>